<!-- <div class="col-md-10">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title">Firstname</label>
                <input type="text" class="form-control" id="firstname" required [(ngModel)]="currentPlayer.firstname" name="title" />
            </div>


            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input class="form-control" id="description" required [(ngModel)]="currentPlayer.lastname" name="lastname" />
            </div>
            <div class="form-group">
                <label for="Height">Age</label>
                <input type="text" class="form-control" id="Age" required [(ngModel)]="currentPlayer.age" name="Age" />
            </div>

            <div class="form-group">
                <label for="Height">Nationality</label>
                <input type="text" class="form-control" id="firstname" required [(ngModel)]="currentPlayer.nationality" name="nationality" />
            </div>

            <div class="form-group">
                <label for="Height">Height</label>
                <input class="form-control" id="Height" required [(ngModel)]="currentPlayer.height" name="Height" />
            </div>
            <div class="form-group">
                <label for="Height">Weight</label>
                <input class="form-control" id="Weight" required [(ngModel)]="currentPlayer.weight" name="Weight" />
            </div>

            <div class="form-group">
                <label for="lastname">Post</label>
                <input class="form-control" id="Post" required [(ngModel)]="currentPlayer.post" name="Post" />
            </div>

            <div class="form-group">
                <label for="Salary">Salary</label>
                <input class="form-control" id="Salary" required [(ngModel)]="currentPlayer.salary" name="Salary" />
            </div>

            <div class="form-group">
                <label for="lastname">Rating</label>
                <input class="form-control" id="Rating" required [(ngModel)]="currentPlayer.rating" name="Rating" />
            </div>

            <div class="form-group">
                <label for="lastname">Videolink</label>
                <input class="form-control" id="Rating" required [(ngModel)]="currentPlayer.videolink" name="VideoLink" />
            </div>

            <button (click)="saveTutorial($event, currentPlayer)" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newTutorial()">Add</button>
        </div>
    </div> -->
